{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta property="og:site_name" content="Rock'em Sock'em">
    <meta property="og:url" content="https://rockemsockem.ru">
    <meta property="og:title" content="Проверка формул на антиплагиат">
    <meta property="og:type" content="website">
    <meta name="description" content="Наш сайт осуществляет проверку ваших формул на антиплагиат">
    <meta name="keywords" content="Плагиат, антиплагиат, формулы, проверить формулы, проверка на антиплагиат">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'main/css/main.css' %}">
    <script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=DlcRLenWJ_vK4inBpSptRAzEpggGzmAQhdvwCQdikfQizJWqFyHsjPbXUcc5rMQuumZO026j7IoiJuseNGdZP44mzK-NWC8wBzFZgidm6eHzORJ6tXpIUvaVDzKBRfIM" charset="UTF-8"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script src="{% static 'main/js/latex2.js'%}"></script>
    <script src="{% static 'main/js/button.js'%}"></script>
  </head>
  <body>
    <header>
        <div id="header-middle">
            <div id="logo-header">
                <a id="papadududuwupa" href="">
                 <img src="{% static 'main/img/Logo.png'%}" width="80" height="70" alt="logo" class="round">
                </a>
            </div>
        </div>
        <div class="h1">
            <h1>ROCK'em SOCK'em</h1>
        </div>
        <div id="topmost-content"></div>
    </header>
    <div>
        <h1 class="h1"></h1>
    </div>
    <footer class="footer">
        <div class="flex">
            <span id="rights">Все права защищены&nbsp;&copy;&nbsp;</span>
        </div>
    </footer>
  </body>
  